<div class="container bas">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    Liste des CV retenus pour le poste {{titre_offre}}
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <!-- <th scope="col">Prenom</th>
                                    <th scope="col">Email</th> -->
                                    <!-- <th scope="col">Contact</th> -->
                                    <th scope="col">CV</th>
                                    <th scope="col">% de correspondance</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let materiel of CvRetenus">
                                    <td>{{ materiel.nom }}</td>
                                    <td>{{ materiel.nom_cv }}</td>
                                    <!-- <td>{{ materiel.email }}</td>
                                    <td>{{ materiel.contact }}</td>
                                    <td>{{ materiel.nom_cv }}</td> -->
                                    <td>{{ materiel.match_percentage}} %</td>
                                    <td>
                                        <!-- <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editRex" data-bs-whatever="@getbootstrap" (click)="chargeData(materiel)">Modifier</button> -->
                                        <button class="btn btn-success ms-2">Télécharger cv</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a
        ttype
        class="btn btn-info"
        routerLink="/admin"
    >
        Retour
    </a>
</div>
