.navbar {
   
    background-color: #2a8176 !important;
    /* Vert clair */
}

.navbar .btn-primary {
    margin-left: auto;
    /* Positionnement à droite */
}
.gs2e{
    width: 10%;
    height: 10%;
}