footer {
    background-color: #f8f9fa;
    background-color: #838d97;
    /* Couleur de fond du footer */
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}